.error-message {
    color: red;
}

.hidden {
  display: none;
}

input {
    padding: 4px;
    margin-left: 2px;
  }

input:hover {
    cursor: pointer;
}

form {
    font-size: 20px;
}

select {
    width: 150px;
    height: 100px;
    margin-top: -50px;
}


